footer {
    background: #252525;
}

/* Specific page footer background */
div[class*="SessionEndedPage_sessionEndedPage__"] footer {
    background: #111;
}

/* Widget Footer */
.widget-footer {
    border-color: #555 !important;
    background: #252525;
}

/* Modal Footer */
.modal-footer {
    background-color: #202020 !important;
    border-color: #555 !important;
}

/* Dialog Footer */
[class*="Dialog_dialogFooter"] {
    background-color: #252525;
    border-color: #555;
    color: #fff;
}

[class*="Dialog_dialogFooter_"] {
    /* From content.js */
    background-color: #202020 !important;
    border-color: #555 !important;
}


/* Map card footer */
.map-card-footer {
    border-color: #555 !important;
}

/* Specific component footers needing border */
div[class*="CourseListItem_detailsFooter_"],
div[class*="SecondaryStatCard_secondaryStatFooter_"] {
    border-color: #555 !important;
}

/* Training specific footers */
div[class*="Footer_footerContainer_"] {
    background-color: #252525 !important;
    color: #fff !important;
    border-color: #555 !important;
}

div[class*="Footer_cancelLink_"]>button {
    /* Specific button color in footer */
    color: #fff !important;
}

/* Expandable card footer (LiveTrack) */
[class*="ExpandableCard_footer_"] {
    border-color: #555 !important;
}