div[class*="Alert_info_"],
div[class*="Alert_alert_"] span a {
    color: var(--text-primary) !important;
    /* Text color inside alerts */
}

div[class*="Alert_success_"],
div[class*="Alert_warning_"] {
    color: var(--color-black) !important;
    /* Text color inside success/warning alerts */
}

/* Alert background */
[class*="Alert_info_"] {
    background-color: var(--background-soft) !important;
}

/* LiveTrack Message Bar */
.msg-bar .msg {
    background-color: var(--background-primary) !important;
    border-color: var(--border-default) !important;
    color: var(--text-primary) !important;
}

/* Close */
[class*="Alert_closeBtn_"] {
    color: var(--text-primary) !important;
}