/* Style override for white background buttons */
button[style*="background-color: rgb(255, 255, 255);"],
.btn.btn-reverse {
  background-color: var(--background-primary) !important;
}

/* Pill button group */
.btn-group-pill,
[class*="SegmentedButton_segmentedButton"] {
  background-color: var(--background-primary) !important;
  border-color: var(--border-default) !important;
}

.btn-group-pill .btn {
  border-color: var(--border-default) !important;
}

[class*="SegmentedButton_segmentedButton"][class*="SegmentedButton_active"] {
  background-color: var(--background-light) !important;
}

.page.activity-detail .chart-toggle-options button,
.page.activity-detail .customize-charts-controls .reorder-widgets-set,
.page.activity-detail .customize-charts-controls .reorder-widgets-cancel,
.page.activity-detail .activity-charts-container .btn-customize-charts,
.btn-group-pill .btn,
[class*="SegmentedButton_segmentedButton_"] {
  color: var(--text-primary) !important;
}

/* Specific button borders */
.page.activity-detail .activity-charts-container .btn-customize-charts,
.page.activity-detail .chart-toggle-options button,
.page.activity-detail .customize-charts-controls .reorder-widgets-set,
.page.activity-detail .customize-charts-controls .reorder-widgets-cancel,
button[class*="ExercisePicker_dropdownToggle_"],
button[class*="NavigateToUserLocationButton_goToUserLocationButton_"],
button[class*="SearchForUserProvidedLocationData_locationFilterSubmit_"],
.find-plan-filters .btn-pill {
  /* From Plans */
  border-color: var(--border-default) !important;
}

/* Navigation buttons / icons */
div[class*="NavigationComponent_datePickerContainer_"],
[class*="NavigationDatePicker_datePickerContainer_"],
div[class*="NavigationComponent_buttonIcon_"],
div[class*="Report_datePickerContainer_"] {
  background-color: var(--background-soft) !important;
  color: var(--text-primary) !important;
}

div[class*="NavigationComponent_buttonIcon_"] i {
  color: var(--text-primary) !important;
}

/* Generic Button Components */
button[class*="PillGroup_pill_"] {
  background-color: var(--background-primary);
  color: var(--text-primary) !important;
  border-color: var(--border-default) !important;
}

button[class*="PillGroup_active_"] {
  background: var(--color-blue-primary) !important;
  border-color: var(--color-blue-primary) !important;
}

button[class*="Button_btn_"][class*="Button_btnReverse_"],
button[class*="Button_btn_"][class*="Button_btnReverse_"][disabled]:hover,
button[class*="Button_btn_"][class*="Button_btnReverse_"][disabled]:focus {
  color: var(--text-primary) !important;
  background-color: var(--background-primary) !important;
}

.btn:focus:not([class*="search"]) {
  box-shadow: 0 0 0 2px var(--background-primary),
    0 0 0 4px var(--color-blue-primary) !important;
}

/* Secondary Button Style */
div[class*="Button_btn_"][class*="Button_btnSecondary_"],
[class*="Button_btn_"][class*="Button_secondary_"],
[class*="Button_btn_"][class*="Button_secondary_"][disabled]:hover,
[class*="Button_btn_"][class*="Button_secondary_"][disabled]:focus {
  background-color: var(--background-medium) !important;
  color: var(--text-primary) !important;
}

[class*="Button_btn_"][class*="Button_secondary_"]:hover,
.btn.btn-secondary,
.btn.btn-secondary[disabled]:hover,
.btn.btn-secondary[disabled]:focus,
.btn.btn-secondary.disabled,
.btn.btn-secondary.disabled:hover,
.btn.btn-secondary.disabled:focus,
[class*="Report_buttonIcon_"],
[class*="NavigationComponent_buttonIcon_"],
[class*="NavigationDatePicker_buttonIcon_"],
[class*="WeekPagination_btn_"] {
  background-color: var(--background-light) !important;
  color: var(--text-primary) !important;
}

.btn.btn-secondary:hover,
[class*="Report_buttonIcon_"]:hover:not([disabled]),
[class*="NavigationComponent_buttonIcon_"]:hover:not([disabled]) {
  background-color: var(--background-medium) !important;
  color: var(--text-primary) !important;
}

[class*="Report_exportBtn_"]:hover {
  color: var(--text-primary) !important;
}

/* Add Comment Button */
button[class*="AddComment_container_"],
button[class*="AddComment_button_"][disabled] {
  background-color: var(--background-primary) !important;
}

/* Input Append/Prepend Add-on (acts like part of a button/input group) */
.input-append .add-on,
div .add-on,
.input-prepend .add-on,
span[class*="BPPage_addOnInput_"] {
  text-shadow: 0 1px 0 var(--color-black-deep) !important;
  background-color: var(--background-secondary) !important;
  border-color: var(--border-default) !important;
  color: var(--text-primary) !important;
}

/* Chip Buttons */
div[class*="Components_buttonSelected_"],
div[class*="Components_dataTypeButton_"]:hover,
div[class*="Components_dataTypeButton_"]:active {
  background: var(--background-secondary) !important;
}

[class*="Chip_buttonSelected_"],
[class*="Chip_dataTypeButton_"]:hover,
[class*="Chip_dataTypeButton_"]:active,
[class*="WorkoutsPillsFilter_pill_"][class*="WorkoutsPillsFilter_active_"] {
  background-color: var(--background-soft) !important;
  border-color: var(--color-black-soft) !important;
}

[class*="Chip_dataTypeButton_"]:not([class*="Chip_buttonSelected_"]):not(
    :hover
  ),
[class*="WorkoutsPillsFilter_pill_"]:not(
    [class*="WorkoutsPillsFilter_active_"]
  ) {
  border-color: var(--border-default) !important;
}

div[class*="Chip_dataTypeButton_"] {
  /* LiveTrack */
  background-color: var(--color-black) !important;
  color: var(--text-primary) !important;
}

/* Chip */
[class*="Chip_chip_"] {
  background-color: var(--background-primary) !important;
}

[class*="Chip_chip_"]:hover {
  background-color: var(--background-secondary) !important;
}

[class*="Chip_chip_"][class*="Chip_selected_"] {
  background-color: var(--background-light) !important;
}

/* Chart Chip */
[class*="ChartChip_chip_"] {
  border-color: var(--border-default) !important;
}

[class*="ChartChip_chip_"]:hover:not([class*="ChartChip_selectedChip_"]) {
  background-color: var(--background-secondary) !important;
}

/* Generic Exercise Picker Button Icon */
button[class*="ExercisePicker_dropdownToggle_"] svg {
  fill: var(--color-white) !important;
}

/* Link Button Style */
button:not(:has(> i[class*="icon-"])):not(:has(> span[class*="icon-"])):not(
    :has(i[class*="icon-"])
  ):not([class*="dataTypeButton_"]):not(.btn):not([class*="icon-"]):not(
    [class*="InlineEdit_editIcon_"],
    [class*="InlineEdit_saveIcon_"],
    [class*="InlineEdit_closeIcon_"],
    [class*="Notification_close_"],
    div[class*="ActivityListPage_rightMenu_"] button,
    [class*="WorkoutCard_workoutCard_"],
    .adaptive-plan .plan-schedule-close button
  ),
.accordion a.active,
.accordion a:active,
.accordion a:focus,
.accordion-inner a:hover,
.edit-gear-tracking {
  /* Added based on name */
  color: var(--link-color);
}

.colored,
a.colored,
[class*="ChallengeCard_challengeName_"] a,
div[class*="GroupSettings_selectPhotoLink_"],
button[class*="GroupSettings_advanceToggle_"],
[class*="GroupItem_labelGroupName_"],
[class*="GroupItem_navigationComponent_"],
div[class*="LinkButton_link_"],
div[class*="CompareFilters_linkWrapper_"],
span[class*="HomeSettings_linkButton_"],
button[class*="LinkButton_link_"],
[class*="BPTables_oneWeekLink_"],
[class*="BPTables_oneMonthLink_"],
a[class*="Homepage_sectionButton_"],
div[class*="HomeSettings_linkButton_"],
div[class*="DayView_dayViewLabel_"],
[class*="ImportDataPageView_browse_"],
[class*="StrategiesList_RowAnchor_"],
.page.devices .join-beta,
[class*="SolarTimeLineChart_dateTextStyle_"],
[class*="EpochDataReload_openModalButton_"],
[class*="AllSecondaryStatsPage_editLink_"],
[class*="AllSecondaryStatsPage_homeLink_"],
[class*="NavigateBack_backLinkContainer_"],
[class*="CreateFoodPage_showMoreDataLabel_"] {
  color: var(--link-color) !important;
}

.modal-calendar .delete-item,
.modal-calendar .remove-calendar-item {
  color: var(--color-red-remove) !important;
}

/* General button text color (catch-all for many standard buttons) */
[class*="icon-"] > *,
button[type="button"]:not(:has(> .icon-pencil)),
button[class*="Button_btn_"],
[class*="InlineEdit_editIcon_"]:hover,
[class*="PowerGuidanceCreateStrategy_headerMenu_"] div div button .icon-gear,
[class*="StrategiesList_iconContainer_"] button .icon-sync,
[class*="StrategiesList_iconContainer_"] button .icon-trash,
.icon-power-guidance {
  color: var(--text-primary) !important;
}

button
  svg:not(
    [class*="InlineEdit_editIcon_"] svg,
    [class*="InlineEdit_saveIcon_"] svg,
    [class*="InlineEdit_closeIcon_"] svg,
    [class*="MainSidebar_menuItemLink_"] svg
  ) {
  fill: var(--color-white);
}

/* Map Buttons */
.btn-map-zoom {
  background-color: var(--background-primary) !important;
  color: var(--text-primary) !important;
}

.map-enlarge-btn {
  background: var(--color-overlay-dark-90) !important;
  border-color: var(--border-default) !important;
}

[class*="ButtonIcon_btnMap_"],
[class*="MapZoom_zoomButton_"][class*="MapZoom_activity_"],
button[class*="MapBoxComponent_fullscreenButton_"]:only-child {
  background: var(--color-overlay-dark-90) !important;
  color: var(--text-primary) !important;
}

[class*="MapControlsWrapper_toggle2DIcon_"] {
  background: var(--color-overlay-dark-90) !important;
  color: var(--text-primary) !important;
  background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M4.78418%204.76953C6.72785%204.76953%208.12486%205.95203%208.125%207.63281V7.65332C8.125%208.78774%207.57895%209.68747%205.75977%2011.4375L3.76074%2013.374V13.5195H8.27734V15H1.34668V13.7959L4.625%2010.4482C5.98079%209.07861%206.36133%208.57349%206.36133%207.80566V7.78516C6.36129%206.8652%205.7319%206.20117%204.69434%206.20117C3.63603%206.20121%202.92383%206.90001%202.92383%207.93066L2.91699%207.95801L1.25684%207.95117L1.25%207.93066C1.25%206.06995%202.70215%204.7696%204.78418%204.76953ZM14.1846%205.01855C17.152%205.01855%2018.8817%206.83055%2018.8818%209.95703V9.9707C18.8818%2013.1665%2017.1729%2015%2014.1846%2015H10.4424V5.01855H14.1846ZM12.2275%2013.499H13.9502C15.9351%2013.4989%2017.0624%2012.2399%2017.0625%209.99902V9.98535C17.0625%207.79271%2015.9075%206.51971%2013.9502%206.51953H12.2275V13.499Z%22%20fill%3D%22%23ffffff%22%2F%3E%0A%3C%2Fsvg%3E") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
}

[class*="MapControlsWrapper_toggle3DIcon_"] {
  background: var(--color-overlay-dark-90) !important;
  color: var(--text-primary) !important;
  background-image: url("data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M4.76367%204.81641C6.81803%204.81643%208.15327%205.8889%208.15332%207.45215V7.46582C8.15332%208.70388%207.26094%209.52724%206.06445%209.77637V9.81152C7.53056%209.94999%208.50571%2010.821%208.50586%2012.2041V12.2188C8.50558%2013.9755%206.99068%2015.1992%204.77734%2015.1992C2.59173%2015.1992%201.15998%2014.0101%201.02832%2012.3018L1.02148%2012.2188H2.72266L2.72949%2012.2939C2.82633%2013.1378%203.60836%2013.7402%204.77734%2013.7402C5.9325%2013.7402%206.70015%2013.0968%206.7002%2012.1699V12.1562C6.7002%2011.1048%205.92521%2010.5234%204.64551%2010.5234H3.46973V9.19531H4.61133C5.71118%209.19531%206.44434%208.57275%206.44434%207.70117V7.6875C6.44434%206.77444%205.82889%206.2344%204.76367%206.23438C3.71224%206.23438%202.98543%206.79517%202.89551%207.6875L2.88867%207.75684H1.22852L1.23535%207.68066C1.38753%205.95133%202.75073%204.81641%204.76367%204.81641ZM14.3652%205.01758C17.3324%205.01774%2019.0614%206.82972%2019.0615%209.95605V9.96973C19.0615%2013.1654%2017.3533%2014.9989%2014.3652%2014.999H10.623V5.01758H14.3652ZM12.4072%2013.498H14.1299C16.1149%2013.4979%2017.2421%2012.239%2017.2422%209.99805V9.98438C17.2422%207.79168%2016.0873%206.51866%2014.1299%206.51855H12.4072V13.498Z%22%20fill%3D%22%23ffffff%22%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
}

/* Course specific buttons */
button[class*="CourseCard_collapseButton_"] {
  background-color: var(--background-primary) !important;
  border-color: var(--color-gray-dark) !important;
}

/* Course map view close button */
button[class*="ActivityMapView_closeButton_"] {
  background: var(--background-primary) !important;
  box-shadow: 0 0 2px var(--color-gray-light) !important;
}

/* Course select type button */
button[class*="SelectCourseType_selectCourseTypeButton_"] {
  background: var(--background-primary) !important;
  border-color: var(--border-default) !important;
}

/* Plan Filter Buttons */
.find-plan-filters .btn-pill {
  background-color: var(--background-secondary) !important;
}

.find-plan-filters .btn-pill.filter-active,
.find-plan-filters .btn-pill:active {
  background-color: var(--background-soft) !important;
  border-color: var(--border-default) !important;
  /* Applied border here */
}

/* Chart Result Button (Adv Reporting) */
button[class*="ChartResult_chartResult_"] {
  background-color: var(--background-primary) !important;
  border-color: var(--border-default) !important;
}

/* Expandable Menu Toggle Button (Adv Reporting) */
button[class*="ExpandableMenu_toggleButton_"] {
  background-color: var(--background-primary) !important;
  border-color: var(--border-default) !important;
}

/* Date Range Picker Button (Adv Reporting) */
button[class*="DateRangePickerDropdown_dateRangePickerButton_"] {
  background-color: var(--background-soft) !important;
}

/* Search Button hover states */
[class*="NavigateToUserLocationButton_goToUserLocationButton_"]:not(
    [class*="NavigateToUserLocationButton_loadingStateButton_"]
  ):hover,
[class*="SearchForUserProvidedLocationData_locationFilterSubmit_"]:not(
    [class*="SearchForUserProvidedLocationData_loadingStateButton_"]
  ):hover {
  background-color: var(--background-soft) !important;
}

/* Carousel Control Button */
[class*="Carousel_controlButton_"] {
  background-color: var(--background-light) !important;
  border-color: var(--border-default) !important;
}

/* Anchored Banner Close Button */
[class*="AnchoredBanner_bannerCloseBtn_"],
[class*="PromoCard_cardDismissIcon_"],
[class*="WhatsNewCard_cardDismissIcon_"] {
  background-color: var(--background-light) !important;
}

/* Toggle Button switch inner */
[class*="Toggle_btnSwitchInner_"]:after {
  background-color: var(--background-lighter) !important;
}

[class*="Toggle_toggleDial_"] {
  background-color: var(--color-white) !important;
}

[class*="Toggle_toggle_"] {
  outline-color: var(--color-gray-lighter) !important;
}

[class*="Toggle_toggle_"]:has([class*="Toggle_checked_"]) {
  outline-color: var(--color-blue-primary) !important;
  background-color: var(--color-blue-primary) !important;
}
