.card {
    background-color: #1a1a1a !important;
    border: 1px solid #1a1a1a !important;
    color: #c7c7c7 !important;
}

/* Generic Card Borders */
div[class*="Gc5Card_card_"],
div[class*="FactorListCard_card_"],
div[class*="ChallengeCard_container_"],
div[class*="ConnectionList_itemContainer_"][class*="ConnectionList_card_"],
div[class*="FindPlanCard_card_"],
div[class*="Card_container_"],
div[class*="FactorsCardsCommon_card_"],
div[class*="SleepCoachFactorCard_factorCardContainer_"],
div[class*="UserSubscription_featureCard_"],
div[class*="UserSubscription_card_"],
div[class*="CourseCard_courseCard_"] {
    border-color: #555 !important;
}

/* Generic Card Backgrounds */
div[class*="Homepage_placeholderCard_"] {
    background-color: #202020 !important;
}

div[class*="Card_card__"] {
    background: #252525;
}

div[class*="BreadcrumbForm_cardContainer_"],
div[class*="Card_container_"] {
    color: #fff !important;
    background-color: #252525 !important;
}

div[class*="CourseCard_cardContainerInner_"],
div[class*="CourseCardFooter_actionsContainer_"] {
    background-color: #252525 !important;
    border-color: #555 !important;
}

.map-card {
    background-color: #252525 !important;
    color: #fff !important;
}

.map-fitness .map-card {
    border-color: #555 !important;
    opacity: .95 !important;
}

div[class*="SegmentsListCard_stravaCard_"] {
    background-color: #252525 !important;
    border-color: #555 !important;
}

div[class*="Card_container_"] {
    background-color: #252525 !important;
    color: #fff !important;
    border-color: #555 !important;
}

div[class*="PlanCard_container__"],
div[class*="PlanCard_description__"],
div[class*="PlanCard_planDescription__"] {
    background-color: #1a1a1a !important;
    border-color: #555 !important;
    color: #fff !important;
}

div[class*="Card_card_"] {
    border-color: #555 !important;
    background: #252525;
    /* Duplicates general .widget */
}

.challenge-card {
    width: 13vw;
    min-height: 276px !important;
}

div[class*="SleepScoreFactorCard_factorCardContainer_"] {
    border-color: #555 !important;
}

/* Secondary Stat Cards */
div[class*="EditSecondaryStatCard_editCard__"],
div[class*="AddAvailableSecondaryStatCard_addCard_"] {
    border-color: #555 !important;
    background: #252525 !important;
}

/* Text within cards */
div[class*="Card_card_"],
div.inFocusCard {
    color: #fff !important;
}

/* Secondary stat text colors */
div[class*="HeartRateSecondaryStatCard_mainText"],
div[class*="WeightSecondaryStatCard_weightDataField_"],
div[class*="TrainingLoadSecondaryStatCard"],
div[class*="LoadFocusSecondaryStatCard_status_"],
div[class*="SecondaryStatCard_horizontalBarsText_"],
div[class*="HRVStatusSecondaryStatCard_statusText_"],
div[class*="HRVStatusSecondaryStatCard_valueText_"],
div[class*="IntensityMinutesSecondaryStatCard_weekGoal_"],
div[class*="SecondaryStatWeeklyGoalChart_currentDay_"],
div[class*="EnduranceScoreSecondaryStat_status_"],
div[class*="runningLactateThresholdDataSmallCell"],
div[class*="RespirationSecondaryStatCard_respirationDataField_"],
span[class*="EditSecondaryStatCard_title_"],
div[class*="AddAvailableSecondaryStatCard_addText_"],
div[class*="AltitudeAcclimationSecondaryStatCard_acclimationValue_"],
div[class*="LastActivitySecondaryStatCard_lastActivityDataField_"],
div[class*="CaloriesBurnedSecondaryStatCard_totalCaloriesValue_"],
div[class*="TrainingStatusSecondaryStatCard_textStatus_"],
div[class*="FitnessAgeSecondaryStatCard_mainContainer_"],
h6[class*="CourseCard_cardHeader_"],
div[class*="BodyBatterySecondaryStatCard_bodyBatteryValue_"],
div[class*="SleepSecondaryStatCard_scoreText_"],
div[class*="SleepSecondaryStatCard_durationValue_"],
h3[class*="BloodPressureSecondaryStatCard_latestReading_"],
span[class*="SecondaryStatCard_secondaryStatsTitle_"],
div[class*="SecondaryStatCard_secondaryStatsTitle_"],
div[class*="HeatAcclimationSecondaryStatCard_acclimationValue_"] {
    color: #fff;
}

[class*="SecondaryStatCard_emptyStateLink_"] {
    color: #1976d2 !important;
}

/* Secondary Stat Card Optimal Range */
div[class*="LoadFocusSecondaryStatCard_legendOptimalRange_"],
div[class*="SecondaryStatCard_optimalRangeHorizontalBar_"] {
    border-color: #6c6c6c !important;
}

/* Factor list card text */
div[class*="FactorListCard_header_"],
div[class*="FactorListCard_status_"] {
    color: #fff !important;
}

/* Factors common card text */
div[class*="FactorsCardsCommon_header_"],
div[class*="FactorsCardsCommon_status_"] {
    color: #fff !important;
}

/* Empty state within cards */
div[class*="SecondaryStatCard_emptyStateTitle_"] {
    color: #fff !important;
}

[class*="SecondaryStatCard_emptyStateIconContainer_"] {
    background-color: #202020 !important;
}

/* Card content titles */
h6[class*="PersonalRecordsStat_statsHeading_"],
h6[class*="ProfileComponent_statsHeading_"],
h6[class*="LifetimeTotals_statsHeading_"] {
    border-color: #555 !important;
}

/* Plan card titles */
div[class*="PlanCard_headerContainer_"],
div[class*="PlanCard_title_"] {
    color: #fff !important;
}

/* Badge Card */
.page.badges .user-card .card-action-button {
    background: #252525 !important;
}

.page.badges .user-card .avatar {
    background: #252525 !important;
    box-shadow: 0 0 0 4px #252525, 0 0 0 5px #555 !important;
}

/* User Subscription Cards */
label[class*="UserSubscription_selectCard_"] {
    border-color: #fff !important;
}

label[class*="UserSubscription_miniCard_"] {
    border-color: #555 !important;
}

p[class*="UserSubscription_paragraph_"],
span[class*="UserSubscription_featureCardBodyTitle_"],
div[class*="UserSubscription_featureCard_"],
p[class*="UserSubscription_subOptions_"],
p[class*="UserSubscription_subFeature_"],
span[class*="UserSubscription_subFeature_"],
p[class*="UserSubscription_darkText_"] {
    color: #fff !important;
}

/* Advanced Reporting Cards */
div[class*="AdvancedReportingGenesis_advancedReportingProfileCard_"],
div[class*="AdvancedReportingGenesis_innerCard_"],
div[class*="AdvancedReportingCard_cardContainer_"] {
    background-color: #252525 !important;
}

div[class*="AdvancedReportingCard_cardContainer_"] {
    border-color: #555 !important;
}

[class*="CardContentNormal_chartNameContainer_"],
[class*="ChartStateMessage_messageTextContainer_"],
[class*="AdvancedReportingCard_cornerContent_"],
[class*="CardContentEdit_chartInfo_"] div:not(div[class*="CardContentEdit_chartDetail_"]) {
    color: #fff !important;
}

/* Activity Card */
h3[class*="ActivityCard_heading_"],
a[class*="ActivityCard_card_"] svg[class*="exterior-link-directional_exteriorLink_"] {
    color: #1976d2 !important;
}

[class*="ActivityCard_card_"] {
    background-color: #252525 !important;
    border-color: #555 !important;
}

/* Badge Challenge Card */
[class*="BadgeChallenges2_buttonsAndList_"],
[class*="BadgeChallengeCard2_badgeChallengeContainer_"] {
    border-color: #555 !important;
}