.card {
    background-color: var(--background-soft) !important;
    border: 1px solid var(--color-black-soft) !important;
    color: var(--text-subtle) !important;
}

/* Generic Card Borders */
div[class*="Gc5Card_card_"],
div[class*="FactorListCard_card_"],
div[class*="ChallengeCard_container_"],
div[class*="ConnectionList_itemContainer_"][class*="ConnectionList_card_"],
div[class*="Card_container_"],
div[class*="FactorsCardsCommon_card_"],
div[class*="SleepCoachFactorCard_factorCardContainer_"],
div[class*="UserSubscription_featureCard_"],
div[class*="UserSubscription_card_"],
div[class*="CourseCard_courseCard_"],
[class*="InFocusCard_fullBorderLine_"] {
    border-color: var(--border-default) !important;
}

/* Generic Card Backgrounds */
div[class*="Homepage_placeholderCard_"],
[class*="InFocusCard_errorIconContainer_"] {
    background-color: var(--background-secondary) !important;
}

div[class*="Card_card__"] {
    background: var(--background-primary);
}

div[class*="Card_container_"] {
    color: var(--text-primary) !important;
    background-color: var(--background-primary) !important;
}

div[class*="CourseCard_cardContainerInner_"],
div[class*="CourseCardFooter_actionsContainer_"] {
    background-color: var(--background-primary) !important;
    border-color: var(--border-default) !important;
}

.map-card {
    background-color: var(--background-primary) !important;
    color: var(--text-primary) !important;
}

.map-fitness .map-card {
    border-color: var(--border-default) !important;
    opacity: .95 !important;
}

div[class*="SegmentsListCard_stravaCard_"] {
    background-color: var(--background-primary) !important;
    border-color: var(--border-default) !important;
}

div[class*="Card_container_"] {
    background-color: var(--background-primary) !important;
    color: var(--text-primary) !important;
    border-color: var(--border-default) !important;
}

div[class*="PlanCard_container__"],
div[class*="PlanCard_description__"],
div[class*="PlanCard_planDescription__"],
[class*="PlanCard_wrapper_"] {
    background-color: var(--background-soft) !important;
    border-color: var(--border-default) !important;
    color: var(--text-primary) !important;
}

div[class*="Card_card_"] {
    border-color: var(--border-default) !important;
    background: var(--background-primary);
    color: var(--text-primary) !important;
}

.challenge-card {
    width: 13vw;
    min-height: 276px !important;
}

div[class*="SleepScoreFactorCard_factorCardContainer_"] {
    border-color: var(--border-default) !important;
}

/* Secondary Stat Cards */
div[class*="EditSecondaryStatCard_editCard__"],
div[class*="AddAvailableSecondaryStatCard_addCard_"] {
    border-color: var(--border-default) !important;
    background: var(--background-primary) !important;
}

/* Text within cards */
div.inFocusCard {
    color: var(--text-primary) !important;
}

/* Secondary stat text colors */
div[class*="HeartRateSecondaryStatCard_mainText"],
div[class*="WeightSecondaryStatCard_weightDataField_"],
div[class*="TrainingLoadSecondaryStatCard"],
div[class*="LoadFocusSecondaryStatCard_status_"],
div[class*="SecondaryStatCard_horizontalBarsText_"],
div[class*="HRVStatusSecondaryStatCard_statusText_"],
div[class*="HRVStatusSecondaryStatCard_valueText_"],
div[class*="IntensityMinutesSecondaryStatCard_weekGoal_"],
div[class*="SecondaryStatWeeklyGoalChart_currentDay_"],
div[class*="EnduranceScoreSecondaryStat_status_"],
div[class*="runningLactateThresholdDataSmallCell"],
div[class*="RespirationSecondaryStatCard_respirationDataField_"],
span[class*="EditSecondaryStatCard_title_"],
div[class*="AddAvailableSecondaryStatCard_addText_"],
div[class*="AltitudeAcclimationSecondaryStatCard_acclimationValue_"],
div[class*="LastActivitySecondaryStatCard_lastActivityDataField_"],
div[class*="CaloriesBurnedSecondaryStatCard_totalCaloriesValue_"],
div[class*="TrainingStatusSecondaryStatCard_textStatus_"],
div[class*="FitnessAgeSecondaryStatCard_mainContainer_"],
h6[class*="CourseCard_cardHeader_"],
div[class*="BodyBatterySecondaryStatCard_bodyBatteryValue_"],
div[class*="SleepSecondaryStatCard_scoreText_"],
div[class*="SleepSecondaryStatCard_durationValue_"],
h3[class*="BloodPressureSecondaryStatCard_latestReading_"],
span[class*="SecondaryStatCard_secondaryStatsTitle_"],
div[class*="SecondaryStatCard_secondaryStatsTitle_"],
div[class*="HeatAcclimationSecondaryStatCard_acclimationValue_"],
div[class*="RunningLactateThresholdSecondaryStatCard_runningLactateThresholdDataLargeCell_"] {
    color: var(--text-primary) !important;
}

[class*="SecondaryStatCard_emptyStateLink_"] {
    color: var(--link-color) !important;
}

/* Secondary Stat Card Optimal Range */
div[class*="SecondaryStatCard_optimalRangeHorizontalBar_"] {
    border-color: var(--color-gray-lighter) !important;
}

div[class*="LoadFocusSecondaryStatCard_mainContentContainer_"] path[fill="none"][stroke="#6c6c6c"][stroke-dasharray="3 3"] {
    stroke: var(--color-white) !important;
}

div[class*="LoadFocusSecondaryStatCard_legendOptimalRange_"] {
    border-color: var(--color-white) !important;
}

g[class*="SecondaryStatWeeklyGoalChart_checkMark_"] path[fill="#101010"] {
    fill: var(--color-white) !important;
}

/* Factor list card text */
div[class*="FactorListCard_header_"],
div[class*="FactorListCard_status_"] {
    color: var(--text-primary) !important;
}

div[class*="FactorListCard_card_"]:hover div div[class*="FactorListCard_header_"] {
    color: var(--link-color) !important;
}

/* Factors common card text */
div[class*="FactorsCardsCommon_header_"],
div[class*="FactorsCardsCommon_status_"] {
    color: var(--text-primary) !important;
}

/* Empty state within cards */
div[class*="SecondaryStatCard_emptyStateTitle_"] {
    color: var(--text-primary) !important;
}

[class*="SecondaryStatCard_emptyStateIconContainer_"] {
    background-color: var(--background-secondary) !important;
}

/* Card content titles */
h6[class*="PersonalRecordsStat_statsHeading_"],
h6[class*="ProfileComponent_statsHeading_"],
h6[class*="LifetimeTotals_statsHeading_"] {
    border-color: var(--border-default) !important;
}

/* Plan card titles */
div[class*="PlanCard_headerContainer_"],
div[class*="PlanCard_title_"] {
    color: var(--text-primary) !important;
}

/* Badge Card */
.page.badges .user-card .card-action-button {
    background: var(--background-primary) !important;
}

.page.badges .user-card .avatar {
    background: var(--background-primary) !important;
    box-shadow: 0 0 0 4px var(--color-gray-dark), 0 0 0 5px var(--color-gray-light) !important;
}

/* User Subscription Cards */
label[class*="UserSubscription_selectCard_"] {
    border-color: var(--color-white) !important;
}

label[class*="UserSubscription_miniCard_"] {
    border-color: var(--border-default) !important;
}

p[class*="UserSubscription_paragraph_"],
span[class*="UserSubscription_featureCardBodyTitle_"],
div[class*="UserSubscription_featureCard_"],
p[class*="UserSubscription_subOptions_"],
p[class*="UserSubscription_subFeature_"],
span[class*="UserSubscription_subFeature_"],
p[class*="UserSubscription_darkText_"] {
    color: var(--text-primary) !important;
}

/* Advanced Reporting Cards */
div[class*="AdvancedReportingGenesis_advancedReportingProfileCard_"],
div[class*="AdvancedReportingGenesis_innerCard_"],
div[class*="AdvancedReportingCard_cardContainer_"] {
    background-color: var(--background-primary) !important;
}

div[class*="AdvancedReportingCard_cardContainer_"] {
    border-color: var(--border-default) !important;
}

[class*="CardContentNormal_chartNameContainer_"],
[class*="ChartStateMessage_messageTextContainer_"],
[class*="AdvancedReportingCard_cornerContent_"],
[class*="CardContentEdit_chartInfo_"] div:not(div[class*="CardContentEdit_chartDetail_"]) {
    color: var(--text-primary) !important;
}

/* Activity Card */
h3[class*="ActivityCard_heading_"],
a[class*="ActivityCard_card_"] svg[class*="exterior-link-directional_exteriorLink_"] {
    color: var(--link-color) !important;
}

[class*="ActivityCard_card_"] {
    background-color: var(--background-primary) !important;
    border-color: var(--border-default) !important;
}

/* Badge Challenge Card */
[class*="BadgeChallenges2_buttonsAndList_"],
[class*="BadgeChallengeCard2_badgeChallengeContainer_"] {
    border-color: var(--border-default) !important;
}

/* Promo Card */
div[class*="PromoCard_cardWrapper_"] {
    background-color: var(--background-secondary) !important;
    border-color: var(--border-default) !important;
}

[class*="PromoCard_cardTitle_"] {
    color: var(--text-primary) !important;
}

div[class*="PromoCard_cardImage_"][style*="background-image"] {
    background-image: linear-gradient(to left, transparent 80%, var(--background-secondary) 100%), url(https://connect.garmin.com/images/promos/ios/persmsg-promo_3x.jpg) !important;
}