/* Basic Dropdown Menu */
.dropdown-menu,
.connection-button-dropdown-menu,
ul[class*="Dropdown_dropdownMenu_"],
div[class*="ActivityPhotoDropdown_dropdownMenu_"],
div[class*="ReportImageDropdown_dropdownMenu_"],
ul[class*="InlineEditDropdown_dropdownContainer_"],
div[class*="UnifiedDropdown_dropdownMenu_"] {
    background: #252525 !important;
    color: #fff !important;
    border-color: #555 !important;
}

/* Dropdown Menu Item States */
.dropdown-menu>li.active>a:not(:hover),
.dropdown-menu>li.active.multiple>a:not(:hover) {
    background-color: #555 !important;
    color: #fff !important;
}

.dropdown-menu>li.disabled,
.dropdown-menu>li.disabled label,
.dropdown-menu>li.disabled label:hover {
    color: #999 !important;
}

/* Dropdown Menu Content/Text */
.dropdown-menu>li>label,
div[class*="Menu_menuItems_"],
.reportImageDropdown .dropdown-menu>li.clearfix>i {
    /* Also icons */
    color: #fff !important;
}

div[class*="Menu_menuItems_"]:hover {
    /* Specific hover color */
    color: #000 !important;
}

/* Dropdown Dividers */
.dropdown-menu .divider,
div[class*="ExercisePicker_divider_"] {
    background-color: #555 !important;
    border-color: #555 !important;
    /* Added for consistency */
}

[class*="Dropdown_dropdownMenu_"] [class*="Dropdown_divider_"],
[class*="NewsFeedFilter_feedFilterDetail_"] li[class*="NewsFeedFilter_divider_"] {
    background-color: #555 !important;
}


/* Specific Dropdown Containers/Triggers */
div[class*="SelectionDropdown_mapFilterDetail_"],
button[class*="SelectionDropdown_mapFilterTrigger_"] {
    background: #252525 !important;
    color: #fff !important;
    box-shadow: inset 0 0 0 1px #555 !important;
}

.map-filter-trigger,
.map-filter-detail {
    background-color: #252525 !important;
    color: #fff !important;
}

.map-filter-detail {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), 0 1px 0 0 #555 !important;
}

a[class*="SelectionDropdown_mapFilterTrigger_"],
a[class*="SelectionDropdown_mapFilterDetail_"] {
    background-color: #252525 !important;
    color: #fff !important;
}

div[class*="NewsFeedFilter_feedFilterTrigger_"],
div[class*="NewsFeedFilter_feedFilterDetail_"] {
    background: #1a1a1a !important;
    color: #fff !important;
}

a[class*="DropDownComponent_trigger_"] {
    background-color: #252525 !important;
    color: #fff !important;
}

div[class*="DropDownComponent_detail_"] {
    background-color: #202020 !important;
    color: #fff !important;
    box-shadow: inset 0 0 0 1px #555 !important;
}

div[class*="EventSearchFilter_activityListFilters_"] {
    background: #252525 !important;
    border-color: #555 !important;
}

div[class*="FilterCourses_dropdownContainer_"] {
    background-color: rgb(32, 32, 32, 0.95) !important;
    border-color: #555 !important;
}

/* Chosen Dropdown Styles */
.chosen-container .chosen-drop {
    background-color: #252525 !important;
    border-color: #555 !important;
    box-shadow: 0 1px 0 0 #555 !important;
}

.chosen-container-single .chosen-single {
    background-color: #252525 !important;
    border-color: #555 !important;
}

.chosen-container .chosen-results li.group-result {
    background-color: #202020 !important;
    color: #fff !important;
}

.chosen-container .chosen-results {
    color: #fff !important;
}

/* Exercise Picker Dropdown */
div[class*="ExercisePicker_dropdownContent_"],
div[class*="ExercisePickerFilter_filterDropdownContent_"] {
    background-color: #202020 !important;
    border-color: #555 !important;
    box-shadow: 0 1px 0 0 #555 !important;
}

button[class*="ExercisePickerFilter_filterDropdownToggle_"] {
    background-color: #252525 !important;
    border-color: #555 !important;
}

li[class*="ExercisePicker_optionGroup_"] {
    background-color: #202020 !important;
    color: #fff !important;
}

div[class*="ExercisePicker_exerciseCount_"],
ul[class*="ExercisePicker_exerciseOptions_"] li,
div[class*="ExercisePickerFilter_filterDropdown_"] label>span {
    color: #fff !important;
}

/* Report Exercise Picker Dropdown */
button[class*="ReportExercisePicker_dropdownToggle_"],
button[class*="PrimaryMusclePicker_dropdownToggle_"] {
    box-shadow: 0px 2px 0px #555 !important;
    border-color: #555 !important;
}

div[class*="ReportExercisePicker_dropdownMenu_"],
div[class*="PrimaryMusclePicker_dropdownMenu_"] {
    background-color: #202020 !important;
    border-color: #555 !important;
}

div[class*="ReportExercisePicker_dropdownMenuItem_"]:hover,
div[class*="PrimaryMusclePicker_dropdownMenuItem_"]:hover {
    background-color: #1a1a1a !important;
}

/* Menu Component Styles */
div[class*="Menu_customComponentMenu_"] {
    background-color: #252525 !important;
}

div[class*="Menu_menuItemsSelected_"]:not(div[class*="Menu_menuItemsSelected_"]:hover) {
    background-color: #555 !important;
}

[class*="Menu_smallMenu_"],
[class*="Menu_menuItemWrapper_"] {
    background-color: #555 !important;
    border-color: #555 !important;
}

[class*="SessionOptions_sessionOptionsContainer_"] [class*="Menu_smallMenu_"]>[class*="Menu_menuItemsSelected_"]:not(:hover) {
    /* LiveTrack */
    background-color: #6c6c6c !important;
}


/* Dropdown Arrow Indicator */
.dropdown-toggle:after {
    border-top-color: #fff !important;
}

.caret {
    /* Table sort uses this too */
    border-top-color: #fff !important;
}

/* Generic Dropdown Text */
span[class*="CompareFilters_dropdown_"],
span[class*="Dropdown_dropdownToggle_"] {
    color: #fff !important;
}

[class*="Dropdown_dataDiv_"] {
    color: #fff !important;
}

/* Dropdown Container Borders/Shadows */
.dropdown-container div span {
    border-color: #555 !important;
}

[class*="Dropdown_dropdownMenu_"] {
    box-shadow: 0 2px 5px #555, inset 0px 0px 0px 1px #555 !important;
}

[class*="DropdownStyles_dropdown_"],
[class*="DropdownStyles_selectionDropdown_"],
[class*="UnifiedDropdown_dropdownContainer_"][class*="UnifiedDropdown_bottomShadow_"] {
    box-shadow: 0 2px 0 #555 !important;
}

div[class*="Dropdown_fullDropdown_"] {
    border-color: #555 !important;
}

/* Unified Dropdown (Advanced Reporting) Specifics */
[class*="UnifiedDropdown_dropdownContainer_"] {
    border-color: #555 !important;
}

[class*="UnifiedDropdown_numberSelectedDisplay_"] {
    background-color: #1a1a1a !important;
}

/* Item Borders */
[class*="UnifiedDropdown_dropdownItem_"][class*="UnifiedDropdown_grouped_"]:first-child:not([class*="UnifiedDropdown_groupHeader_"]):not([class*="UnifiedDropdown_multiselectCheckboxContainer_"]):not(li),
li[class*="UnifiedDropdown_dropdownItem_"][class*="UnifiedDropdown_ungrouped_"]:first-child {
    border-color: #555 !important;
}

/* Autosuggest Menu */
.autosuggestMenu {
    background-color: #202020 !important;
    border-color: #555 !important;
    color: #fff !important;
}