/* Course List Item */
a[class*="CourseListItem_wrapper_"] {
    /* Wrapper border */
    border-color: #555 !important;
}

div[class*="CourseListItem_detailsFooter_"] {
    /* Footer border */
    border-color: #555 !important;
}

span[class*="CourseListItem_title_"],
div[class*="CourseListItem_value_"],
span[class*="CourseListItem_sendToDeviceText_"],
div[class*="CourseListItem_deleteItemText_"] {
    color: #fff !important;
}

/* Course Card */
div[class*="CourseCard_courseCard_"] {
    background-color: #252525 !important;
    border-color: #555 !important;
}

button[class*="CourseCard_collapseButton_"] {
    /* Button style */
    background-color: #252525 !important;
    border-color: #252525 !important;
    /* Should match background */
}

div[class*="CourseCard_cardContainerInner_"],
div[class*="CourseCardFooter_actionsContainer_"] {
    background-color: #252525 !important;
    border-color: #555 !important;
}

h6[class*="CourseCard_cardHeader_"],
p[class*="CourseCard_locationFilterLabel_"],
[class*="CourseDetails_sectionSubtitle_"] {
    color: #fff !important;
}

/* Course Filters */
div[class*="FilterCourses_dropdownContainer_"] {
    /* Dropdown background/border */
    background-color: rgb(32, 32, 32, 0.95) !important;
    border-color: #555 !important;
}

h3[class*="FilterCourses_filterNoContentText_"],
p[class*="FilterCourses_filterNoContentText_"] {
    color: #fff !important;
}

div[class*="FilterCourses_inputAppendContainer_"] span[class*="FilterCourses_addOn_"] {
    /* Input addon style */
    background-color: #202020 !important;
    border-color: #555 !important;
    color: #fff !important;
}

/* Course Detail / Edit */
label[class*="CreateEditCourseDetails_courseNameLabel_"],
div[class*="RoutingOptions_sectionHeader_"],
div[class*="RoutingOptions_selectContainer_"],
p[class*="CourseDetailsSection_sectionTitle_"],
label[class*="AddCoursePoint_pointNameLabel_"],
p[class*="AddCoursePoint_sectionInfoText_"] {
    color: #fff !important;
}

div[class*="Course_elevationExpandedChartContainer_"] {
    /* Chart container background/border */
    background-color: #252525 !important;
    border-color: #555 !important;
}

.course-pt,
/* Course point border */
.course-pt-lap {
    /* Course point lap border */
    border-color: #555 !important;
}

.course-pt-lap {
    color: #555 !important;
}

div[class*="LapMarker_marker_"] {
    color: #555 !important;
}

p[class*="ConfirmSaveCourseModal_saveCourseTitle_"],
label[class*="ConfirmSaveCourseModal_courseNameLabel_"],
div[class*="ConfirmSaveCourseModal_privacyContainer_"] p {
    color: #fff !important;
}


/* Climbs Sheet */
div[class*="ClimbsSheet_sheetWrapper_"] {
    /* Background/border */
    background-color: #252525 !important;
    border-color: #555 !important;
}

div[class*="ClimbsSheet_closeSheet_"] {
    /* Close icon filter */
    filter: invert(1);
}

div[class*="ClimbsToken_climbCategory_"] {
    /* Climb token text */
    color: #fff !important;
}

div[class*="ClimbsToken_climbToken_"] {
    /* Climb token border/text */
    color: #fff !important;
    border-color: #555 !important;
}


/* Map Related Styles within Courses */
div[class*="SearchWhenMoveMap_buttonContainer_"] label {
    /* Button background */
    background: #252525 !important;
}

div[class*="MapProviderContainer__controlDialogOpen_"] {
    /* Dialog background/border */
    background-color: #252525 !important;
    border-color: #555 !important;
    box-shadow: 0 0 2px #555 !important;
}

div[class*="MapAdditionalOptionsSelection_optionLabel_"],
div[class*="MapAdditionalOptionsSelection_layersSection_"] p,
label[class*="MapAdditionalOptionsSelection_optionLabel_"] {
    color: #fff !important;
}

div[class*="MapAdditionalOptionsSelection_optionLabel_"][class*="MapAdditionalOptionsSelection_disabled_"] {
    /* Disabled label text */
    color: #6C6C6C !important;
}

path[class*="CourseMap_polyLineNoHover_"] {
    /* Map line stroke */
    stroke: #000 !important;
    /* Keep black for visibility? */
}

div[class*="CourseMap_contextMenuContainerForPoint_"] {
    /* Context menu background/border */
    background: #252525 !important;
    border-color: #555 !important;
}

div[class*="CreateCourseOptionsBanner_optionsBanner_"] {
    /* Banner background/border */
    background-color: #252525 !important;
    border-color: #555 !important;
}

h6[class*="ElevationChart_sectionTitle_"] {
    /* Elevation chart title text */
    color: #fff !important;
}

/* Power Guidance */
.power-guidance-header {
    background: #252525 !important;
    border-color: #555 !important;
}

span[class*="PowerGuidanceCreateStrategy_selectOptionTypeText_"] {
    color: #fff !important;
}

i[class*="PowerGuidanceSelectCourse_terrainType_"] {
    color: #fff !important;
    fill: #fff !important;
}

/* Select Course Type */
p[class*="SelectCourseType_activityTypeName_"],
p[class*="SelectCourseType_groupTitle_"] {
    color: #fff !important;
}

button[class*="SelectCourseType_selectCourseTypeButton_"] {
    background: #252525 !important;
    border-color: #555 !important;
}

/* Routing Options */
label[class*="RoutingOptions_turnNotificationLabel_"] {
    color: #fff !important;
}

/* Privacy Menu */
span[class*="PrivacyMenu_labelText_"] {
    color: #fff !important;
}

div[class*="PrivacyMenu_menuContainer_"] {
    color: #fff !important;
}

span[class*="PrivacyMenu_selectOptionTypeText_"] {
    color: #fff !important;
}

div[class*="PrivacyMenu_menuContainer_"]:hover:not([class*="PrivacyMenu_smallPrivacyListClass_"]) {
    background: #1a1a1a !important;
}

/* Course creation overlay */
div[class*="CourseCreate_overlay_"] {
    background-color: #111 !important;
}