/* Event Breadcrumb Form */
div[class*="BreadcrumbForm_header_"],
div[class*="BreadcrumbForm_navBar_"],
div[class*="BreadcrumbForm_mainContainer_"] {
    color: var(--text-primary) !important;
    background-color: var(--background-primary) !important;
}

div[class*="BreadcrumbForm_cardContainer_"],
div[class*="BreadcrumbForm_footerContainer_"] {
    background-color: var(--background-secondary) !important;
}

/* Event Search */
tr[class*="EventSearchResults_row_"] {
    /* Row background */
    background: var(--background-secondary) !important;
}

div[class*="EventSearchFilter_activityListFilters_"] {
    /* Filter background/border */
    background: var(--background-primary) !important;
    border-color: var(--border-default) !important;
}

div[class*="TableHeader_header_"],
div[class*="EventSearchResults_month_"],
div[class*="EventSearchResults_day_"],
div[class*="EventSearchResults_info_"] {
    color: var(--text-primary) !important;
}

/* Event Modal */
div[class*="EventModal_eventTitle_"],
div[class*="EventWeather_detail_"],
div[class*="EventModal_title_"] {
    color: var(--text-primary) !important;
}