div[class*="Gc5PageWrapper_contentContainer_"] {
  /* Content container background */
  background: var(--background-primary) !important;
}

div[class*="Homepage_placeholderCard_"] {
  /* Placeholder card background */
  background-color: var(--background-secondary) !important;
}

div.inFocusCard {
  /* In focus card text */
  color: var(--text-primary) !important;
}

span[class*="Carousel_carouselHighlightedDot_"] {
  /* Carousel dot */
  background-color: var(--color-white) !important;
}

div[class*="Homepage_sectionButton_"] {
  /* Section button link style */
  color: var(--link-color) !important;
}

div[class*="Homepage_sectionLabel_"] {
  /* Section label text */
  color: var(--text-primary) !important;
}

/* Home Settings */
div[class*="HomeSettings_linkButton_"],
span[class*="HomeSettings_linkButton_"],
div[class*="cardOrganizer_"] button {
  color: var(--link-color) !important;
}

h6[class*="HomeSettingsModal_"],
p[class*="HomeSettingsModal_"] {
  color: var(--text-primary) !important;
}

/* Welcome Page */
[class*="WelcomeGC5Page_welcomeTitle_"],
[class*="WelcomeGC5Page_welcomeDescription_"] {
  color: var(--text-primary) !important;
}

/* Promo Card */
[class*="PromoCard_cardLargeMain_"] {
  background-color: var(--background-primary) !important;
}

[class*="PromoCard_cardLargeTitle_"],
[class*="PromoCard_cardLargeSubtitle_"] {
  color: var(--text-primary) !important;
}

[class*="PromoCard_cardWrapperLarge_"] {
  border-color: var(--border-default) !important;
}

[class*="PromoCard_cardImageLarge_"] {
  background-image: linear-gradient(
      to bottom,
      transparent 65%,
      var(--background-primary) 92%
    ),
    url("https://connect.garmin.com/images/promos/web/nutrition-promo_3x.jpg") !important;
}
