div[class*="Gc5PageWrapper_contentContainer_"] {
    /* Content container background */
    background: var(--background-primary) !important;
}

div[class*="Homepage_placeholderCard_"] {
    /* Placeholder card background */
    background-color: var(--background-secondary) !important;
}

div.inFocusCard {
    /* In focus card text */
    color: var(--text-primary) !important;
}

span[class*="Carousel_carouselHighlightedDot_"] {
    /* Carousel dot */
    background-color: var(--color-white) !important;
}

div[class*="Homepage_sectionButton_"] {
    /* Section button link style */
    color: var(--link-color) !important;
}

div[class*="Homepage_sectionLabel_"] {
    /* Section label text */
    color: var(--text-primary) !important;
}

/* Home Settings */
div[class*="HomeSettings_linkButton_"],
span[class*="HomeSettings_linkButton_"],
div[class*="cardOrganizer_"] button {
    color: var(--link-color) !important;
}

h6[class*="HomeSettingsModal_"],
p[class*="HomeSettingsModal_"] {
    color: var(--text-primary) !important;
}