.main-body.dashboard,
.page.newsfeed {
    background: var(--background-deep) !important;
    color: var(--text-primary) !important;
}

div[class*="NewsFeedFilter_feedFilterTrigger_"],
div[class*="NewsFeedFilter_feedFilterDetail_"] {
    background: var(--background-soft) !important;
    color: var(--text-primary) !important;
}

[class*="NewsFeedFilter_feedFilterDetail_"] li[class*="NewsFeedFilter_divider_"] {
    /* Filter divider */
    background-color: var(--background-light) !important;
}


/* Comment/Like Section (Shared with Activity) */
div[class*="CommentLikeSection_divider_"] {
    background: var(--background-light) !important;
}

div[class*="CommentLikeSection_socialButtonWrapper_"]:hover {
    background-color: var(--background-soft) !important;
}

div[class*="CommentLikeSection_likeCommentContainer_"] {
    border-color: var(--border-default) !important;
}

div[class*="CommentLikeSection_profileImage_"],
img[class*="CommentLikeSection_profileImage_"] {
    border-color: var(--border-default) !important;
}