/* Training Plan Overview / Find Plan */
div[class*="SidebarNavigation_navBar_"],
/* Sidebar Navigation */
div[class*="SidebarNavigation_pageContainer_"] {
    background-color: var(--background-primary) !important;
    color: var(--text-primary) !important;
    border-color: var(--border-default) !important;
}

div[class*="SidebarNavigation_header_"] {
    /* Sidebar Header Text */
    color: var(--text-primary) !important;
}

div[class*="FindPlanCard_card_"] {
    /* Plan Card Border */
    border-color: var(--border-default) !important;
}

.find-plan-filters .btn-pill {
    /* Filter Buttons */
    background-color: var(--background-secondary) !important;
    border-color: var(--border-default) !important;
}

.find-plan-filters .btn-pill.filter-active,
.find-plan-filters .btn-pill:active {
    background-color: var(--background-soft) !important;
    border-color: var(--border-default) !important;
}

.new-plan a.plan-info {
    /* Plan Info Link */
    background-color: var(--background-soft) !important;
    border-color: var(--border-default) !important;
}

.plan-specs .plan-duration,
.plan-specs .plan-frequency {
    color: var(--text-primary) !important;
}

div[class*="PlanCard_headerContainer_"],
div[class*="PlanCard_title_"] {
    color: var(--text-primary) !important;
}

div[class*="PlanCard_container__"],
div[class*="PlanCard_description__"],
div[class*="PlanCard_planDescription__"] {
    background-color: var(--background-soft) !important;
    border-color: var(--border-default) !important;
    color: var(--text-primary) !important;
}

div[class*="TrainingPlanHeader_container_"],
[class*="AudioRecorder_container_"] {
    /* Training Plan Header Border */
    border-color: var(--border-default) !important;
}

i[class*="TrainingPlanHeader_selection_"] {
    /* Header Icon Color */
    color: var(--color-gray-dark) !important;
}

div[class*="TrainingPlanTitle_title_"] {
    /* Title Text */
    color: var(--text-primary) !important;
}

div[class*="FindAPlanTab_adaptiveCoachTitle_"],
div[class*="FindAPlanTab_browseAllPlansTitle_"],
.plan-section-label {
    color: var(--text-primary) !important;
}

div[class*="HowItWorksModal_title_"],
div[class*="HowItWorksModal_content_"] {
    color: var(--text-primary) !important;
}


/* Adaptive Training Plan */
.adaptive-plan .plan-schedule.open {
    /* Open Schedule Shadow */
    box-shadow: inset 0 0 0 1px var(--color-gray-light) !important;
}

.adaptive-plan .plan-schedule {
    /* Schedule Background */
    background: var(--background-primary) !important;
}

div[class*="plan-icon plan-icon-reverse"] span,
.plan-item-title,
.adaptive-plan .adaptive-plan-status-score,
.adaptive-plan .plan-item-date {
    color: var(--text-primary) !important;
}

div[class*="AdaptiveCoachingTrainingPlanDetails_contentContainer_"] {
    /* Details Background */
    background: var(--background-primary) !important;
}


/* Workouts */
div[class*="WorkoutStep_workoutStepDataValue_"] {
    /* Step Data Text */
    color: var(--text-primary) !important;
}

span[class*="WorkoutModal_workoutStepContainer_"] {
    /* Modal Step Container */
    background: var(--background-primary) !important;
    color: var(--text-primary) !important;
    border-top-color: var(--border-default) !important;
    border-right-color: var(--border-default) !important;
    border-bottom-color: var(--border-default) !important;
}

div[class*="WorkoutStep_workoutStepInnerTitle_"] {
    /* Step Inner Title Background */
    background: var(--background-secondary) !important;
}

.workout-step-note {
    /* Step Note Border */
    border-color: var(--border-default) !important;
}

div[class*="WorkoutStep_stepEditOpenContent_"] {
    /* Edit Step Background */
    background: var(--background-primary) !important;
}

div[class*="WorkoutRepeatStep_repeatStepWrapper_"] {
    /* Repeat Step Background/Border */
    background-color: var(--background-soft) !important;
    border-color: var(--border-default) !important;
}

/* Workout Step Text/Icons */
div[class*="WorkoutStep_stepDeleteIcon_"]>div>button>i,
div[class*="WorkoutRepeatStep_repeatStepTitleRight_"]>div>button>i,
div[class*="WorkoutRepeatStep_grabIcon_"] i,
div[class*="BenchmarkExerciseDetailsPage_titleText_"],
div[class*="BenchmarkExerciseDetailsPage_regularText_"],
div[class*="WorkoutStep_stepTitle_"],
p[class*="WorkoutRepeatStep_repeatStepEmptyBlock_"],
div[class*="WorkoutRepeatStep_numRepeats_"],
div[class*="WorkoutRepeatStep_repeatStepTitleLeft_"] i,
div[class*="WorkoutStep_dragIcon_"] i {
    color: var(--text-primary) !important;
}

div[class*="WorkoutPageHeader_headerWrapper_"] {
    /* Header Background/Shadow */
    box-shadow: 9px 0 var(--color-gray-dark), -9px 0 var(--color-gray-dark) !important;
    border-color: var(--border-default) !important;
    background-color: var(--background-primary) !important;
}

div[class*="WorkoutStep_stepTitleWrapper_"] {
    /* Step Title Background */
    background-color: var(--background-secondary) !important;
}

div[class*="WorkoutStep_stepFieldsWrapper_"] {
    /* Step Fields Background */
    background-color: var(--background-primary) !important;
}

div[class*="WorkoutStep_stepReadOnlyWrapper_"] {
    /* Readonly Step Border */
    border-top-color: var(--border-default) !important;
    border-right-color: var(--border-default) !important;
    border-bottom-color: var(--border-default) !important;
}

div[class*="WorkoutName_edit_"] {
    /* Inline Edit Name Background */
    background-color: var(--background-primary) !important;
}


/* Training Status / Load / Readiness */
div[class*="TrainingStatusKeyStatsCard_textStatus_"],
div[class*="TrainingStatusKeyStatsCard_loadFocusText_"],
div[class*="TrainingStatusKeyStatsCard_secondContentText_"],
div[class*="TrainingReadinessKeyStat_primaryBigText_"],
div[class*="TrainingReadinessKeyStat_primaryFeedback_"],
div[class*="TrainingReadinessKeyStat_dataField_"] {
    color: var(--text-primary) !important;
}

.page.reports .ts-hrv-status-chart-container .hrv-baseline-score,
.page.reports .ts-hrv-status-chart-container .hrv-status-sub-title-container .hrv-status-avg-score {
    color: var(--text-primary) !important;
}

.page.reports .chronicLoadChipContainer .chronicLoadChip.selected,
.page.reports .chronicLoadChipContainer .chronicLoadChip:hover,
.page.reports .chronicLoadChipContainer .chronicLoadChip:active {
    background: var(--background-secondary) !important;
}

div[class*="AcuteTrainingLoadChart_loadRatio_"] {
    /* Acute Load Text */
    color: var(--text-primary) !important;
}

div[class*="KeyStatsSection_cardTitle_"] {
    /* Key Stats Title Text */
    color: var(--text-primary) !important;
}


/* Training Effect */
div[class*="TrainingEffectModal_modalHeader_"] h4,
.reports .training-effect-empty-state h4 {
    color: var(--text-primary) !important;
}

div[class*="TEGaugeChart_teScore_"] {
    color: var(--text-primary) !important;
}


/* Setup Pages */
div[class*="Setup_header_"],
div[class*="Setup_details_"],
[class*="cards_header_"],
[class*="cards_subHeader_"],
[class*="cards_infoContainer_"]>label,
[class*="cards_label_"] {
    color: var(--text-primary) !important;
}

[class*="TimeDurationInput_timeDurationInput_"] [class*="TimeDurationInput_appendedLabel_"] {
    border-color: var(--border-default) !important;
}

/* Benchmark Exercise */
div[class*="BenchmarkExerciseDetailsPage_titleText_"],
div[class*="BenchmarkExerciseDetailsPage_regularText_"] {
    color: var(--text-primary) !important;
}

/* Strength Training Table */
table[class*="StrengthTable_table_"] {
    color: var(--text-primary) !important;
}

table[class*="StrengthTable_table_"] thead tr {
    border-color: var(--border-default) !important;
}