/* Progress Bars */
div[class*="ProgressBar_barWrapper_"],
div[class*="FitnessAgeFactorModal_bar_"],
.timeInZonesProgressBarWrapper,
.bar-complete-wrapper {
    background: #444 !important;
}

.timeInZonesProgressBar {
    border-color: #444 !important;
}

div[class*="ProgressBar_bar_"][style*="background: rgb(0, 0, 0);"],
/* Black progress bar fill */
div[class*="ProgressBar_bar_"][style*="background: black"] {
    background: #fff !important;
}

/* Secondary Stat Stacked Bar */
[class*="SecondaryStatStackedBarChart_stackedBarIndicator_"] {
    border-color: #252525 !important;
}

/* Calories Burned Bar */
div[class*="Gc5style_caloriesBurnedBarIndicator_"] {
    background: #252525 !important;
}


/* Gauges */
div[class*="PulseOxGauge_donutCenter_"] {
    fill: #252525 !important;
    stroke: #252525 !important;
    background-color: #252525 !important;
}

div[class*="SleepGauge_donutCenter_"] {
    background-color: transparent;
}

div[class*="IntensityMinutesGauge_imValue_"] {
    color: #fff !important;
}

div[class*="VO2MaxGaugeChart_value_"] {
    color: #fff !important;
}

div[class*="BodyBatteryGauge_gaugeCenter_"] {
    background-color: #252525 !important;
    color: #fff !important;
}

div[class*="TEGaugeChart_teScore_"] {
    color: #fff !important;
}

/* Golf Gauge Approach */
span:has(div[class*="GolfStatsTabApproach_gaugeContainer_"]) {
    color: #fff !important;
}

div[class*="GolfStatsTabApproach_noData_"],
div[class*="GolfStatsTabApproach_candyCane_"] {
    border-color: #fff !important;
    color: #6c6c6c !important;
}


/* Chart Text / Labels */
div[style*="color: rgb(199, 199, 199);"] {
    /* Generic light grey text */
    color: #fff !important;
    /* Remap to white, check context */
}

/* Specific Chart Elements */
div[class*="AcuteTrainingLoadChart_loadRatio_"] {
    /* Acute Load text */
    color: #fff !important;
}

div[class*="SharedModalStyles_acuteTextColor_"] {
    /* Acute Load text (Shared Modal) */
    color: #fff !important;
}

div[class*="IntensityMinutesPageGauge_chartLabelPrimary_"] {
    /* Intensity Minutes text */
    color: #fff !important;
}

div[class*="SleepCoachGraphic_sleepBar_"],
/* Sleep Coach graphic */
div[class*="SleepCoachGraphic_legendSleepNeedDot_"] {
    background-image: repeating-linear-gradient(-45deg, rgb(59, 151, 243), rgb(59, 151, 243) 2px, #252525 3px, #252525 5px) !important;
}

div[class*="PrimaryBenefitItem_ruler_"] {
    /* Primary Benefit ruler border */
    border-color: #555 !important;
}

div[class*="WorkoutBenefit_workoutBenefitContainer_"] {
    /* Workout Benefit border */
    border-color: #555 !important;
}