body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 15px;
  width: 320px;
  background-color: #252525;
  color: #ffffff;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #555555;
}

main p {
  margin: 0;
}

main p.kofi {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

h1 {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}

h2 {
  font-size: 16px;
  color: #ffffff;
  margin: 10px 0;
}

p,
ul {
  margin: 10px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

li {
  margin-bottom: 4px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #555555;
  margin: 20px 0;
}

footer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #555555;
  text-align: center;
  font-size: 12px;
}

footer a {
  color: #6c6c6c;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.settings-box {
  margin-bottom: 20px;
}

.theme-switch-wrapper {
  display: flex;
  background: #333;
  border-radius: 8px;
  padding: 4px;
  margin: 10px;
  border: 1px solid #555;
  gap: 4px;
}

.theme-switch-wrapper input[type="radio"] {
  display: none;
}

.theme-switch-wrapper label {
  flex: 1;
  padding: 8px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  color: #aaa;
  font-size: 13px;
  transition: all 0.2s ease;
  font-weight: 500;
}

.theme-switch-wrapper input[type="radio"]:checked + label {
  background-color: #1976d2;
  color: #fff;
  font-weight: bold;
}

.theme-switch-wrapper label:hover {
  background-color: #444;
  color: #fff;
}

.theme-switch-wrapper input[type="radio"]:checked + label:hover {
  background-color: #1976d2;
}
